<h3>混雑指数</h3>
<table class="table">
  <tbody>
    <tr class="calendar-index-busy0">
      <td>-</td>
      <td>情報なし</td>
    </tr>
    <tr class="calendar-index-busy1">
      <td>0 ~ 14</td>
      <td>天国</td>
    </tr>
    <tr class="calendar-index-busy2">
      <td>15 ~ 24</td>
      <td>かなり空いている</td>
    </tr>
    <tr class="calendar-index-busy3">
      <td>25 ~ 34</td>
      <td>空いている</td>
    </tr>
    <tr class="calendar-index-busy4">
      <td>35 ~ 39</td>
      <td>ふつう</td>
    </tr>
    <tr class="calendar-index-busy5">
      <td>40 ~ 49</td>
      <td>少し混んでいる</td>
    </tr>
    <tr class="calendar-index-busy6">
      <td>50 ~ 59</td>
      <td>混んでいる</td>
    </tr>
    <tr class="calendar-index-busy7">
      <td>60 ~ 69</td>
      <td>かなり混んでいる</td>
    </tr>
    <tr class="calendar-index-busy8">
      <td>70 ~</td>
      <td>地獄</td>
    </tr>
  </tbody>
</table>
